/sources/*
!/sources/mame2sqlite.pl
!/sources/getfiles.pl
!/sources/7zip/*
/js/analyticstracking.js
/images/consoles/pce.gif
/images/consoles/all290.png
/images/consoles/antiseptic_videogame_systems_full.png
/images/consoles/console_history_by_spdy4-d7qww9p.jpg
/images/consoles/icons-390.jpg
/TODO.txt
